    <!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>

            $(document).ready(function(){
                $('#check').click(function(){
                    $('#req').val(function () {
                    return this.value + {{.Times}};
                    })
                });
            });
            $(function () {
        $("#user-form").on("submit", function (e) {
            e.preventDefault();
            // console.log(this);
            var $self = $(this);
            var payload = JSON.stringify({
                time : $('[name="time"]').val(),
            });

            $.ajax({
                url: $self.attr("action"),
                type: $self.attr("method"),
                data: payload,
                contentType: 'application/json',
            }).then(function (res) {
                $(".message").text(res);

            }).catch(function (a) {
                alert("ERROR: " + a.responseText);
            });
        });

        $(document).ready(function () {
            $('#reset').click(function() {
                location.reload();
            });
        })
    });

    </script>
</head>
<body>

<button id="check">Check Time!</button>
<br>
<br>

<form id="user-form" method="post" action="/save">
    <input id="req" type="text" width="100px" name="time" required>
    <br>
    <button id="posted">+ Half of Day</button>
</form>

<br>
<p id="res1"></p>
<p id="res2"></p>
<p class="message"></p>
<button id="reset">Reset</button>


</body>
</html>
